version: '3.8'

services:
  user-service:
    build: ./user-service
    ports:
      - "8098:8098"
    networks:
      - microservices-network

  gateway:
    build: ./gateway
    ports:
      - "8090:8090"
    networks:
      - microservices-network

  comment-service:
    build: ./comment-service
    ports:
      - "8099:8091"
    networks:
      - microservices-network

  shop-service:
    build: ./shop-service
    ports:
      - "8096:8096"
    networks:
      - microservices-network

  thumb-service:
    build: ./thumb-service
    ports:
      - "8097:8097"
    networks:
      - microservices-network

  follow-service:
    build: ./follow-service
    ports:
      - "8094:8094"
    networks:
      - microservices-network

  post-service:
    build: ./post-service
    ports:
      - "8095:8095"
    networks:
      - microservices-network

  favorite-service:
    build: ./favorite-service
    ports:
      - "8093:8093"
    networks:
      - microservices-network

  coupon-service:
    build: ./coupon-service
    ports:
      - "8092:8092"
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge